
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            background-image: url("https://thumbs2.imgbox.com/09/31/qWsMBbeP_t.jpg");
  background-repeat: repeat-x;
 
  background-position: right top;
  background-attachment: scroll;
 
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
           
            
        }

        nav {
            position: fixed;
            top: 0; 
            width: 100%; 
            background: #000;
            padding: 10px 0;
            z-index: 1000;
        }

        nav a {
            position: relative;
            font-size: 1.1em;
            font-weight: 500;
            color: #333;
            text-decoration: none;
            padding: 6px 20px;
            transition: 0.5s;
        }

        nav a:hover {
            color:red;
        }

        nav a span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-bottom: 2px solid #bef;
            border-radius: 15px;
            transform: scale(0) translateY(50px);
            opacity: 0;
            transition: 0.5s;
        }

        nav a:hover span {
            transform: scale(1) translateY(0);
            opacity: 1;
        }


        #datetime {
            font-size: 24px;
            font-weight: bold;
            text-align: right;
            margin-top: 20px;
            color: #00ffff;
            background-color:hsl(0, 100%, 25%);
            opacity: 0.6;
            ;
            position: absolute;
            top: 3%;
            right: 0;
        }
        footer{
            position: absolute;
            bottom: 0;  
            color:whitesmoke;
            background-color:hsl(209, 47%, 36%);
            opacity: 0.6;
            ;
            width: 100%;
            text-align: center;

        }
        @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.hero{
padding-top: rem;
padding-bottom: 4rem;
}
.hero .left img{
width: 300px;
}
.hero .right {
color: var(--white);
margin-top: 0%;
}
.hero .right h6{
font-size: 1.6rem;
color: var(--primary);
margin-bottom: 0.5rem;
}
.hero .right h1{
font-size: 4rem;
font-weight: 100;
line-height: 1.2;
margin-bottom: 2rem;
}
.hero .right h1 span{
color: var(--primary);
}
.hero .right p{
line-height: 1.9;
margin-bottom: 2rem;
}
.flex{
display: flex;
}
.items-centre{
align-items: center;
}
.justify-between{
justify-content: space-between;
}
.justify-center{
justify-content: center;
}
.justify-right{
justify-content: right;
}

.right flex-1 .p {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    color: red;
  }
  #socialMediaHandles {
    position: fixed;
    bottom: 50px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#socialMediaHandles a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

#socialMediaHandles a:hover {
    color: red;
    transform: scale(1.1);

}

#socialMediaHandles img {
    width: 50px; 
    height: 40px;
    margin-right: 10px;
}